<% @movies_by_genre.each do |genre, movies| %>
  <% if movies.any? %>
    <h2>
      <%= genre %>
      <span class='more'>
        <%= link_to 'See more', genre_movies_path(genre: genre) %>
        <i class="fa fa-chevron-right"></i>
      </span>

    </h2>
    <div class="swiper-container" data-controller="swiper">
      <div class="swiper-wrapper">
        <% movies.each do |movie| %>
          <div class='swiper-slide'>
            <div class='movie-card' data-controller="poster">
              <% if movie.poster_path %>
                <%= link_to movie_path(movie) do %>
                    <%= image_tag "https://image.tmdb.org/t/p/w500#{movie.poster_path}", data: { poster_target: "image" } %>
                <% end %>
              <% end %>
              <h3><%= link_to movie.title, movie_path(movie) %></h3>
            </div>
          </div>
        <% end %>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  <% end %>
<% end %>
