<div style="background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url('https://image.tmdb.org/t/p/w500<%= @movie.poster_path %>');" class="ms-show-view">
  <div class='ms-content'>
    <h1><%= @movie.title %></h1>
    <p class='ms-overview'><%= @movie.overview %></p>

    <p class='ms-infos'>
      <span>IMDb <%= @movie.rating.round(1) %></span>
      <span><%= @movie.duration %> min</span>
      <span><%= @movie.release_date.strftime("%Y")%></span>
    </p>

    <p class='ms-genres'><%= @movie.category.gsub(',', ' • ') %></p>

    <div>
      <button class='play-btn'><i class="fa fa-play"></i> Play</button>
      <button class='icons-btn'><i class="fa fa-plus"></i></button>
      <button class='icons-btn'><i class="fa fa-heart"></i></button>
    </div>
  </div>
</div>


<div class="swiper-container" data-controller="swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">Slide 1</div>
    <div class="swiper-slide">Slide 2</div>
    <div class="swiper-slide">Slide 3</div>
    <!-- Additional slides -->
  </div>

  <!-- If you want navigation buttons -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>
