<div style="background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url('https://image.tmdb.org/t/p/w500<%= @movie.poster_path %>');" class="ms-show-view">
  <div class='ms-content'>
    <h1><%= @movie.title %></h1>
    <p class='ms-overview'><%= @movie.overview %></p>

    <p class='ms-infos'>
      <span>IMDb <%= @movie.rating.round(1) %></span>
      <span><%= @movie.duration %> min</span>
      <span><%= @movie.release_date.strftime("%Y")%></span>
    </p>

    <p class='ms-genres'><%= @movie.category.gsub(',', ' • ') %></p>

    <div>
      <button class='play-btn'><i class="fa fa-play"></i> Play</button>
      <button class='icons-btn'><i class="fa fa-plus"></i></button>
      <button class='icons-btn'><i class="fa fa-heart"></i></button>
    </div>
  </div>
</div>

<h2>First Heading</h2>
    <div class="swiper-container" data-controller="swiper" data-slides-per-view="1">
        <div class="swiper-wrapper">
            <div class="swiper-slide card">
                <div class="card-content">
                    <h2>Card Title</h2>
                    <p>Some description</p>
                </div>
                <div class="card-info">
                    <p>More info on hover</p>
                    <p>More info on hover</p>
                    <p>More info on hover</p>
                </div>
            </div>
            <div class="swiper-slide card">
                <div class="card-content">
                    <h2>Card Title</h2>
                    <p>Some description</p>
                </div>
                <div class="card-info">
                    <p>More info on hover</p>
                    <p>More info on hover</p>
                    <p>More info on hover</p>
                </div>
            </div>
            <div class="swiper-slide card">
                <div class="card-content">
                    <h2>Card Title</h2>
                    <p>Some description</p>
                </div>
                <div class="card-info">
                    <p>More info on hover</p>
                    <p>More info on hover</p>
                    <p>More info on hover</p>
                </div>
            </div>
            <!-- Repeat .swiper-slide for more cards -->
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>

    <h2>Second Heading</h2>
    <div class="swiper-container" data-controller="swiper" data-slides-per-view="1">
        <div class="swiper-wrapper">
           <div class="swiper-slide card">
                <div class="card-content">
                    <h2>Card Title</h2>
                    <p>Some description</p>
                </div>
                <div class="card-info">
                    <p>More info on hover</p>
                    <p>More info on hover</p>
                    <p>More info on hover</p>
                </div>
            </div>
            <div class="swiper-slide card">
                <div class="card-content">
                    <h2>Card Title</h2>
                    <p>Some description</p>
                </div>
                <div class="card-info">
                    <p>More info on hover</p>
                    <p>More info on hover</p>
                    <p>More info on hover</p>
                </div>
            </div>
            <div class="swiper-slide card">
                <div class="card-content">
                    <h2>Card Title</h2>
                    <p>Some description</p>
                </div>
                <div class="card-info">
                    <p>More info on hover</p>
                    <p>More info on hover</p>
                    <p>More info on hover</p>
                </div>
            </div>
            <!-- Repeat .swiper-slide for more cards -->
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
