<% @tv_shows_by_genre.each_with_index do |(genre, tv_shows), index| %>
  <% if tv_shows.any? %>
    <h2>
      <%= genre %>
      <span class='more'>
        <%= link_to 'See more', genre_tv_shows_path(genre: genre) %>
        <i class="fa fa-chevron-right"></i>
      </span>
    </h2>

    <%# Calculate z-index %>
    <% z_index = @tv_shows_by_genre.size - index %>

    <div class="swiper-container" data-controller="swiper" data-slides-per-view="6" style="position: relative; z-index: <%= z_index %>;">
      <div class="swiper-wrapper">
        <% tv_shows.each do |tv_show| %>
          <div class='swiper-slide'>
            <div class='movie-card'>
              <% if tv_show.poster_path %>
                <%= link_to tv_show_path(tv_show) do %>
                  <%= image_tag "https://image.tmdb.org/t/p/w500#{tv_show.poster_path}" %>
                <% end %>
              <% end %>
              <div class='movie-card-infos'>
                <h3><%= link_to tv_show.title, tv_show_path(tv_show) %></h3>
                <button class='index-play-btn'><i class="fa fa-play"></i> Play</button>
                <button class='index-icons-btn'><i class="fa fa-plus"></i></button>
                <% if tv_show.release_date? %>
                  <p class="home-year"><%= tv_show.release_date.strftime("%Y")%></p>
                <% end %>
                <p><%= tv_show.overview %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  <% end %>
<% end %>
