<div class='navbar' data-controller="navbar" data-navbar-target="nav">
  <div class='navbar-logo-nav'>
    <%= link_to root_path do %>
      <%= image_tag 'streamy-clear.png', alt: 'Streamy logo', class: 'logo' %>
    <% end %>
    <%= link_to 'Home', root_path, class: "nav-btn #{'active' if current_page?(root_path)}" %>
    <%= link_to 'Movies', movies_path, class: "nav-btn #{'active' if current_page?(movies_path)}" %>
    <%= link_to 'TV Shows', tv_shows_path, class: "nav-btn #{'active' if current_page?(tv_shows_path)}" %>
  </div>
  <div class="navbar-login-search">
    <i class="fa fa-magnifying-glass"></i>
    <i class='fa fa-bookmark nav-icon-book'></i>
  </div>
</div>
