<div class='home-container'>
  <h2>Popular movies</h2>

  <div class="swiper-container" data-controller="swiper" data-slides-per-view="4" style="position: relative;z-index: 1;">
    <div class="swiper-wrapper">
      <% @popular_movies.each do |movie| %>
        <div class='swiper-slide' >
          <div class='home-movie-card'>
            <% if movie.poster_path %>
              <%= link_to movie_path(movie) do %>
                <%= image_tag "https://image.tmdb.org/t/p/w500#{movie.poster_path}" %>
              <% end %>
            <% end %>
            <div class='home-movie-card-infos'>
              <h4><%= link_to movie.title, movie_path(movie) %></h4>
              <button class='home-play-btn'><i class="fa fa-play"></i> Play</button>
              <button class='home-icons-btn'><i class="fa fa-plus"></i></button>
              <p class='home-year'><%= movie.release_date.strftime("%Y")%></p>
              <p><%= movie.overview %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>


  <h2>Popular tv shows</h2>

  <div class="swiper-container" data-controller="swiper" data-slides-per-view="4">
    <div class="swiper-wrapper">
      <% @popular_tv_shows.each do |show| %>
        <div class='swiper-slide'>
          <div class='home-movie-card'>
            <% if show.poster_path %>
              <%= link_to tv_show_path(show) do %>
                <%= image_tag "https://image.tmdb.org/t/p/w500#{show.poster_path}" %>
              <% end %>
            <% end %>
            <div class='movie-card-infos'>
              <h4><%= link_to show.title, tv_show_path(show) %></h4>
              <button class='home-play-btn'><i class="fa fa-play"></i> Play</button>
              <button class='home-icons-btn'><i class="fa fa-plus"></i></button>
              <p class="home-year"><%= show.release_date.strftime("%Y")%></p>
              <p><%= show.overview %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>
